{% extends 'all-news/base.html'%}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Article</title>
  {{form.media}}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/news.css' %}">
  {% endblock %}
</head>

<body>
  {% block content %}
  <div class="container" style="color: white;">
    <form action="{% url 'new-article' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% bootstrap_form form %}
      <input type="submit" class="btn btn-success btn-ig" value="post">
    </form>

    {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
  {% endblock %}
</body>

</html>